mltbenv/*
.git
.github
.gitignore
*.md
*.log
.env
.env.*
downloads/
logs/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
.pytest_cache/
*.cover
.hypothesis
.DS_Store
Thumbs.db